<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License

Copyright 2016 roberto.gatti.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


    <tx:annotation-driven />
            
    <context:component-scan base-package="org.bob.web.applications.smlite.web.spring.ctrls"/>
    <context:component-scan base-package="org.bob.web.applications.smlite.engine.dao.impl" />
    <context:component-scan base-package="org.bob.web.applications.smlite.engine.managers.impl" />
    
    <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://127.0.0.1:5432/smlite" />
        <property name="username" value="smlite_admin"/>
        <property name="password" value="Smlt20!6" />                
    </bean>
	
		
    <!-- Session Factory da utilizzare per mapping attraverso JPA Annotations-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>org.bob.web.applications.smlite.engine.beans.CategoryBean</value>
            </list>
        </property>
                
        <property name="hibernateProperties">
            <props>		
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>	
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="org.hibernate.FlushMode">COMMIT</prop>
            </props>
        </property>
    </bean>



    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager" 
          p:sessionFactory-ref="sessionFactory">
    </bean-->

    <bean id="daoCategory"
            class="org.bob.web.applications.smlite.engine.dao.impl.DaoCategory" >
            <!-- parent="abstractDAO" /> -->
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>    
        
                
    <bean id="categoriesManager"
            class="org.bob.web.applications.smlite.engine.managers.impl.CategoriesManagerImpl">
        <property name="daoCategory" ref="daoCategory" />
    </bean>
    
    <!--bean   id="categoryREST" scope="singleton"
            class="org.bob.web.applications.smlite.rest.services.CategoryREST">
        <property name="categoriesManager" ref="categoriesManager" />
    </bean-->
                
    <bean id="applicationContextProvder"
                        class="org.bob.web.applications.smlite.web.spring.utils.ApplicationContextProvider"/>
    
        
    <bean id="viewResolver"
    	class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp" />
    </bean>
    
    <!--bean id="context"
        class="org.springframework.context.ApplicationContext">
    </bean-->
    
</beans>
